run = "bash run.sh"
entrypoint = "backend/main.py"
modules = ["python-3.11", "nodejs-18"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000
